[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kali/Desktop/vortex.php]
row=6
col=0

[/home/kali/Desktop/key.pub]
row=8
col=0

[/home/kali/Desktop/spip.py]
row=4
col=0

[/home/kali/Desktop/key]
row=7
col=0

[/home/kali/Desktop/50581.py]
row=3
col=0

[/home/kali/Desktop/dropper.py]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/kali]
row=2
col=0

