[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kali/Desktop/Razgrajaci]
row=1
col=2

[/home/kali/Desktop/Fuzbal]
row=2
col=2

[/home/kali/Desktop/Code24]
row=3
col=0

[/home/kali/Desktop/Razgrajaci2.0]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/kali]
row=2
col=0

